<%#= recipe["title"].inspect %>
<%#= recipe.inspect %>
 <div class="w-auto border border-4 margin-auto inline-block items-center max-w-sm shadow hover:bg-gray-200">
  <h3 class="font-custom text-center"> 
    <%= recipe["title"] %>
    <%= image_tag recipe["image"], class: "rounded shadow" %>
    <%= recipe["usedIngredientCount"] %> ingredient(s) included.
    <br>
    <%= recipe["missedIngredientCount"]%> missing ingredients:
    <h4 class="text-xs break-words text-center">
      <%recipe["missedIngredients"].each do |rec|%>
      <%= rec["name"]%>
      <%end%>
    </h4>
 </h3>
</div>