<%= render partial: "shared/header" %>
<h1>Add new recipe</h1>
<%#=javascript_pack_tag 'ingredient_fields' %>
<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <%= f.fields_for :ingredients, Ingredient.new do |ff| %>
    <p>
      <%= ff.label :measurement %><br>
      <%= ff.text_field :measurement %>
    </p>
    <p>
      <%= ff.label :description %><br>
      <%= ff.text_field :description %>
    </p>
        <%#= render 'ingredients_fields', f: f %>
    <%= link_to_add_fields 'Add Recipe Ingredient', f, :ingredients %>
    <%end%>
  <%= f.submit %>
<% end %>
