<%= render partial: "shared/header" %>
<h1>Add new recipe</h1>

<%= form_for @recipe do |form|
url: recipes_url,
local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
  <%= form.fields_for :ingredients do |f| %>
   <%= f.label :measurement %><br>
    <%= f.text_field :measurement %>

    <%= f.label :description %>
    <%= f.text_field :description %>
    <%#= render 'ingredients_fields', f: f %>
    <%= link_to_add_fields 'Add Recipe Ingredient', f, :ingredients %>
  <%= form.submit %>
  </p>
<% end %>
