<%= render partial: "shared/header" %>
<div>
<h1>Add new recipe</h1>
  <%= form_for @recipe do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "border" %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "border"%>
    </p>

    <%= f.fields_for :ingredients do |f| %>
          <%= render 'ingredient_fields', f: f %>
      <%end%>
    <%= link_to_add_fields 'Add Recipe Ingredient', f, :ingredients %>
    <br>
    <%= f.submit %>
  <% end %>
</div>

<script>
$("[data-form-prepend]").on("click", function(e) {
    var obj = $($(this).attr("data-form-prepend"));
    obj.find("input, select, textarea").each(function() {
      $(this).attr("name", function() {
        return $(this)
          .attr("name")
          .replace("new_record", new Date().getTime());
      });
    });
    obj.insertBefore(this);
    return false;
  });
</script>
