<%= render partial: "shared/header" %>
<div>
    <%= render partial: "home/searchbar"%>
</div>
<br> <br>
<div class="border border-4 shadow w-9/12 m-auto ">
    <div class="">
        <div>
        <h1 class="font-semibold text-3xl text-center text-gray-800">
            <%= @recipe["title"] %>
            </h1>
            <div class="w-7/12 xl:w-5/12 m-auto">
                <%= image_tag @recipe["image"], class: "rounded shadow block mx-auto" %>
            </div>
            <div>
                <h2 class="font-semibold py-2 px-20 text-gray-800">
                    Ingredients:
                    <% @recipe["extendedIngredients"].each do |ingredient| %>
                    <br>•<%= ingredient["original"] %>
                    <%end%>
                </h2>
            </div>
        <div>
            <h1 class="font-custom">
                Steps:
                <%= @recipe["instructions"].html_safe %>
            </h1>
        </div>
            <%= link_to @recipe["sourceUrl"] do %>
            <div>
                <h1 class="font-custom text-sm underline">
                <br>Read full directions</h1>
            </div>
        </div>
    </div>
    <%end%>
</div>