<div class="bg-beige">
    <%= render partial: "shared/header" %>
    <div class="pl-20 pr-16 pt-20 m-auto">
        <div class="flex flex-row">
            <div class="flex flex-col w-6/12 ">
                <h1 class="font-bold text-5xl text-black">
                    <%= @recipe["title"] %>
                </h1>
                <div class="mt-6 flex flex-row">
                    <div class="pl-2 border-r border-t border-b w-2/12 border-black">
                        Serves <%= @recipe["servings"]%>
                    </div>
                    <div class="pl-2 pr-2 border-l border-t border-b border-black">
                    Ready in <%= @recipe["readyInMinutes"]%> min
                    </div>
                </div>
            </div>
            <div class="ml-auto w-3/12">
                <div class="ml-auto">
                    <% if @recipe["image"] %>
                        <%= image_tag @recipe["image"]%>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="flex flex-row pb-6 mt-20">
            <div class="w-6/12">
                <!--<span class="font-normal"><%= @recipe["summary"].html_safe?%> </span>-->
                <h2 class="text-2xl font-bold">
                    Instructions
                    <h2 class="text-md leading-loose">
                        <%= @recipe["instructions"].html_safe %> <br>
                    </h2>
                </h2>
            <%= link_to @recipe["sourceUrl"],target: :_blank do %>
                <h3 class="font-custom text-sm underline">
                <br>Read full directions
                </h3>
            <%end%>    
            </div>
            <div class="mb-6 px-32 ml-auto w-5/12 h-4/6 top-0">
                <h2 class="-mb-16 text-2xl font-bold mt-6">Ingredients
                </h2>
                <h3 class="mt-8 leading-loose">
                    <% if @recipe["extendedIngredients"] %>
                        <% @recipe["extendedIngredients"].each do |ingredient| %>
                        <br><%= ingredient["original"] %>
                        <%end%>
                    <%end%>
                </h3>
            </div>
    </div>
</div>