<%#= form_with url: "/recipes", class: "", method: :get do |form| %>
      <%#= form.search_field :ingredient, placeholder: @ingredient, class: "shadow-md outline-none bg-gray-200 rounded focus:bg-white" %>
      <%# if request.path == "/recipes" %>
            <%#= form.select :cuisine, Spoonacular::CUISINES, include_blank: true, selected: params[:cuisine] %>
      <%#end%>
      <%#= form.submit "Search", class: "rounded border-gray-500 font-custom bg-gray-200 text-gray-700 hover:bg-green-dark hover:text-white" %>
<%# end %>

<%= form_for(@recipe, url: recipes_path, method: :get) do |f| %>
      
      <div class="mb-3 text-left px-20 lg:px-24">
            <%= f.fields_for :ingredients do |f| %>
                  <%= render 'home/ingredient_fields', f: f %>
            <%end%>
            <div class="px-12 rounded text-sm text-green-500 group hover:text-green-700">
                  <%= link_to_add_association 'Add Ingredient', f, :ingredients, partial:"home/ingredient_fields", class:"" %>            
            </div>
      </div>
      <div class="flex flex-col text-center">
            <div class="">
                  <% if request.path == "/recipes" %>
                        <div class=" m-2 mt-8 border-2 border-black inline text-xs">
                              <%= f.select :cuisine, Spoonacular::CUISINES, prompt: 'Cuisines', selected: params[:cuisine], class: "border" %>
                        </div>
                        <div class="m-2 mt-8 border-2 border-black inline text-xs">
                              <%= f.select :intolerances, Spoonacular::INTOLERANCES, prompt: 'Intolerances', selected: params[:intolerances]%>
                        </div>
                  <%end%> 
            </div>
            <div class="inline-block m-2 p-2">
                  <%= f.submit "Search", class:" bg-white hover:bg-gray-100 text-grey-800 font-semibold py-2 px-4 border border-black rounded shadow" %>
            </div>
      </div>
<% end %>