<div class="flex items-center text-sm">
    <div class="flex flex-col">
        <%= f.label :measurement, class: "px-1" %>
        <%= f.text_field :measurement, class: "px-1 appearance-none rounded relative block w-7/12 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
    </div>
    <div class="flex flex-col">
        <%= f.label :description, class:"px-1"%>
        <%= f.text_field :description,  class: "px-1 appearance-none rounded relative block w-9/12 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
    </div>
    <%= f.check_box :_destroy, class: "px-1"%>
    <%= f.label :delete%>
</div>
